<html>

<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="top_link"><a href="#">
					<img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">
					Return home</a></div>
				<div class="contact">
					<form action="login">
						<h3>SIGN IN</h3>
						<input type="text" name="username" placeholder="USERNAME" [(ngModel)]=u.username>
						<input type="password" name="password" placeholder="PASSWORD" [(ngModel)]=u.password>
						<button class="submit"  (click)="login(u)">LET'S GO</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
				<marquee><h2>Quick_Car_Loan</h2></marquee>	
					<h5>If you would know the value of money, go and try to borrow some.</h5>
				</div>
				
			</div>
		</div>
	</section>
</body>
</html>








