


<table border="1" class="table">
  <thead>
  <tr>
      <th>user id</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>Contact No</th>
      <th>EmailId</th>
      <th>Pan No</th>
      <th>Loan Amount</th>
      <th>Tennure In year</th>
      <th>Cibil score</th>
      <th>Enquiry Status</th>
      <th>Check Cibil</th>
  </tr>
</thead>
  <tbody *ngFor="let e of allEnquiry">
  <tr >
      <td>{{e.custId}}</td>
      <td>{{e.custFirstName}}</td>
      <td>{{e.custLastName}}</td>
      <td>{{e.custContactNo}}</td>
      <td>{{e.custEmailId}}</td>
      <td>{{e.custPANno}}</td>
      <td>{{e.custLoanAmmount}}</td>
      <td>{{e.custTennureYear}}</td>
      <td>{{e.cibilScore}}</td>
      <td>{{e.enquiryStatus}}</td>
      <td><button  (click)="checkCibil(e)">CheckCibil</button></td>
      <!-- <button class="regular" name="change" id="change" style="display:none;"></button> -->
  </tr>
</tbody>
</table>

