<section class="contact-page-sec" style="background: linear-gradient(to right, #3d0310a6, #3c6883);">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-map" style="font-size: 50px;"></i>
              </div>
              <div class="contact-info-text">
                <h2>Address</h2>
                <p>Quick_Car_Loan Finance, Karve Nagar, Pune, Maharashtra 411052</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <!-- <i class="fas fa-phone"></i> -->
                <i class="fa fa-phone" style="font-size: 50px;" aria-hidden="true"></i>
              </div>
              <div class="contact-info-text">
                <h2>Telephone</h2>
                <p>+91 9876543210</p>
                <p>+91 1234567890</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fa fa-envelope" style="font-size: 50px;"></i>
              </div>
              <div class="contact-info-text">
                <h2>Email</h2>
                <p><a href="mailto:contact@quickcarloanfinance.com">contact@quickcarloanfinance.com</a></p>
                <p><a href="mailto:quickcarloanfinance@gmail.com">quickcarloanfinance@gmail.com</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-clock" style="font-size: 50px;"></i>
              </div>
              <div class="contact-info-text">
                <h2>Office Hours</h2>
                <p>Mon - Fri: 10:00 am - 5:00 pm</p>
                <p>Sat      : 10:00 am - 1:00 pm</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-map-marker" style="font-size: 40px;"></i>
              </div>
              <div class="contact-info-text">
                <h2>Exact Location</h2>
                <p><a href="https://www.google.com/maps?q=Karve+Nagar,+Pune,+Maharashtra+411052" target="_blank">View on Google Maps</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  